@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600|Oswald:300,400,500,600");

/*----------------------------------------------Special paddings/margins/text*/

body {
    font-family: "Roboto", sans-serif;
}

.nav-font {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3 h4,
h5 {
    margin: 0px;
}

/*----------------------------------------------Navigation*/

/*The next code was mentioned by my Mentor */

.right-end-links {
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 100px 0px 50px;
}

.bg-nav {
    background-color: rgba(19, 17, 17, 0.932);
}

/* Code was taken from Whisky Drop tutorial and changed*/

.navbar .navbar-brand {
    font-weight: 500;
}

.navbar .navbar-nav a {
    font-weight: 500;
}

/*----------------------------------------------Front image*/
/* All bg-image-home code was taken from Whisky-drop tutorial and changed in background property. */

#bg-image-home {
    height: 100vh;
    background: url("../images/hero-background.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*----------------------------------------------Footer*/

footer p {
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 95%;
}

.footer-container {
    padding: 15px 0px;
}

.pad {
    padding-bottom: 4px;
}

.links {
    margin: 0px;
    text-align: center;
}

/* Code was taken from "Resume-project" tutorial and changed */

.links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: rgba(19, 17, 17, 0.932);
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.links li a i:hover {
    background: #ff5722;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.8rem;
    margin-top: 10px;
}

/*----------------------------------------------Home Page*/

.jumbotron-home {
    background: transparent;
    color: #fff;
}

.jumbotron-home h1 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 75px;
}

.jumbotron-home p {
    font-weight: 500;
}

.container-wrapper {
    padding: 35px 40px 50px;
}

.heading-home {
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 50px;
}

.home-letter {
    font-weight: 500;
    padding-bottom: 10px;
}

.icons {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ff8a50;
}

.about-us-links {
    margin-top: 10px;
}

.quotes {
    background-color: #72e7ff;
}

.mr-3, .mx-3 {
    margin-bottom: 1rem;
}

.btn-primary {
    background: #ff5722;
    border: 2px solid #c41c00;
    color: #fff;
}

.btn-usefull-links {
    width: 195px;
    height: 100px;
    border: 1px solid #0085c1;
    margin-bottom: 20px;
}

#union-chandlery {
    background: url("../images/union-chandlery.png") no-repeat left center;
    background-size: cover;
}

#bantry-bay {
    background: url("../images/bantry-bay.png") no-repeat bottom right;
    background-size: cover;
}

#canoeing-ireland {
    background: url("../images/canoeing-ireland.jpg") no-repeat center center;
    background-size: cover;
}

/*----------------------------------------------Gallery Page*/

/*Code was taken from "Love Running" tutorial and modified.*/

#gallery {
    clear: both;
    /*prevent vertical gaps*/
    line-height: 0px;

    column-count: 3;
    column-gap: 0px;
}

#gallery img {
    width: 98%;
    margin: 6px;
}

/*----------------------------------------------Sign Here Page*/

/*Calculation code was given by my Mentor*/

#sign-here {
    min-height: calc(100vh - 142px);
}

.heading-sign-here {
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 65px;
}

#courses-image {
    height: 300px;
    background: url("../images/arch.jpg") no-repeat bottom right;
    background-size: cover;
    padding: 0px;
    margin: 40px 15px 10px;
}

#membership-image {
    height: 300px;
    background: url("../images/cave.jpg") no-repeat center center;
    background-size: cover;
    padding: 0px;
    margin: 40px 15px 10px;
}

.sign-here-letter {
    font-weight: 500;
    padding: 35px 0px 20px;
}

/*Code was taken from resume tutorial and changed.*/

.sign-here-table {
    display: block;
    clear: both;
}

.category {
    width: 125px;
}

.price {
    width: 55px;
}

.sign-here-table .category,
.sign-here-table .price {
    display: inline-block;
}

.sign-up {
    margin: 20px 0px 30px;
}

/*----------------------------------------------Contact Page*/

#contact-image {
    height: 100vh;

    background: url("../images/colour.jpg") no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.heading-contact {
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contact-letter {
    font-weight: 500;
    padding-bottom: 20px;
    color: #fff;
}

.jumbotron-contact {
    height: 100vh;
    padding: 0px;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.form-control {
    margin-bottom: 10px;
}

/* Code was taken from "Resume-project" tutorial and changed for project needs*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #ff5722;
    border: 1px solid #c41c00;
}

/*----------------------------------------------Media*/

@media screen and (min-width: 992px) {
    .big-screen {
        letter-spacing: 2px;
    }

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    #bg-image-home {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1400px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0px 30px 0px 30px;
    }
}

@media screen and (max-width: 800px) {
    #gallery {
        column-count: 2;
    }

    #gallery img {
        margin: 3px;
    }
}

@media screen and (max-width: 760px){
    .jumbotron-home h1 {
        font-size: 45px;
    }

    .jumbotron-home p {
        font-size: x-small;
    }

    #contact-image, #bg-image-home,
    .jumbotron-contact {
        height: 600px;
    }

    .heading-home {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .heading-sign-here {
        margin: 30px 0px 0px;
        font-size: 35px;
    }

    .heading-contact {
        margin: 50px 0px 30px;
        font-size: 35px;
    }
}

@media screen and (max-width: 410px) {
    .nav-font {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 351px) {
    .navbar {
        padding: 0.5rem 0.5rem;
    }

    .nav-font {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .navbar-brand {
        margin: 0px;
    }

    .navbar-toggler {
        padding: 0px 2px;
    }

    .nav-font {
        font-size: 1.4rem;
    }

    .jumbotron-home h1 {
        letter-spacing: 2px;
        font-size: 35px;
    }

    .container-wrapper {
        padding: 35px 10px 35px;
    }
}
