/*--------------------------Special paddings/margins/text*/


body {
    font-family: "Roboto", sans-serif;
}


h2 {
    font-family: "Oswald";
}


.uppercase {
    text-transform: uppercase;
}


h1,
h2,
h3,
h4
h5 {
    margin: 0;
}


.navbar {
    padding: 0;
}


.navbar-brand {
    margin: 0px 10px;

}


.nav-link {
    margin: 0px 5px;
}


.navbar-toggler {
    padding: .2rem .5rem;
    margin-right: 10px;
}

.front-container {
    height: 100vh;

    background: url('../images/hero-background.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


footer p {
    margin: 0px;
    text-align: center;
}


.links {
    margin: 0px;
    text-align: center;
}

